.flash-box 
  .notice
= render 'shared/side_bar'

.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        = @group.name
      %ul.main-header__left-box__member-list
        Member :&nbsp;
        %li.main-header__left-box__member
          - @group.group_users.each do |group_user| 
            = group_user.user.name
    = link_to "edit", edit_group_path(@group.id), class: 'main-header__edit-btn'
  .messages
    = render @messages
    
  .form
    = form_for [@group, @message], html:{class:'new-message'} do |f|
      .form__mask
        = f. text_field :text, class: 'form__message', placeholder:'type a message'
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'      

  -# フォームタグで折角作ったので、一応残しておく。
  -# .form
  -#   %form.new-message{action: '/', method: 'post'}
  -#     .input-box
  -#       %input.input-box__text{name: "message[text]", placeholder: "type a message", type: "text"}
  -#       %label.input-box__image{for: "message_image"}
  -#         =fa_icon 'image'
  -#         %input#message_image.input-box__image__file{type: "file", name: "message[image]"}
  -#     %input.submit-btn{"data-disable-with" => "Send", name: "commit", type: "submit", value: "Send"}
  